.header__cart{
    display: inline-block;
}
.header__cart:hover .cart__list{
    cursor: pointer;
    display:block;
}
.header__cart .cart__list{
    display:none;
}
.header__cart-notice{
    position:absolute;
    font-size: 10px;
    padding:3px 8px; 
    background-color: var(--pink);
    color: #fff;
    border-radius: 10px;
    right:125px;
    top: 16px;
}
.cart{
    background-color:#ECEFF1;
    z-index: 100000;
    position:absolute;
    right: 0;
    transform: translate(-50px,20px);
    height:70vh;
    border-radius:10px;
    min-width: 350px;
    overflow:auto;
}


.cart__list::after{
    content: "";
    position:absolute;
    right: 130px;top: 35px;
    border-width: 20px;
    border-style: solid;
    border-color:transparent transparent #ECEFF1 transparent;
    cursor: pointer;
}


.cart__header{
    text-align: center;
    font-size: 2em;
    margin: 15px 0;
    font-size: 20px;
}
.cart__row{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    margin-bottom: 10px;    
    
}
.cart__desc{
    display: flex;
    flex-direction: column;
    font-size: 1.6rem;
    transform: translateX(-10%);
}
.cart__info{
    margin-bottom: 18px;
}
.cart-quantity{
    display: flex;
    gap: 0 60px;
}
 .cart-quantity-input{
    max-width: 60px;
    font-size: 1.4rem;

}

.cart__img, img{
    height: 12rem;
    width:0 auto;
    margin-left: 10px;
}
.cart__total {
    margin: 10px 0 10px 100px ;
    font-size: 2rem;
}
.cart__footer{
    margin: 0 100px;

    /* position:fixed;
    bottom: 0; */
}
.appear{
    display: block;
}
.hidden{
    display: none;
}
.btn-cart{
    background-color: #F48FB1;
    border-radius: 10px;
    padding:5px 5px;
}
.btn--checkout{
    background-color: #F48FB1;
    border-radius: 10px;
    padding:10px 10px; 
    min-width: 100px;
    text-align: center;
    margin-bottom: 10px;
    min-width: 200px;
}
